# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# LaTeX 编译产物
*.aux
*.log
*.out
*.toc
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.pdf
*.dvi
*.xdv

# 字体测试/本地生成
mm_gfx_font_test.*

# 系统与编辑器
.DS_Store
Thumbs.db
.idea/
.vscode/
